<!-- create_room.html -->
{% extends 'base.html' %}
{% block title %}Create Room{% endblock %}

{% block content %}

<div class="container">
   <div class="row">
       <div class="col-md-6 offset-md-3">
<form method="POST" class="p-4 rounded shadow bg-light mt-3">
   <h2>Create Study Room</h2>
   <div class="mb-3">
   <input type="text" class="form-control"  name="name" placeholder="Room Name" required>
   </div>
   <div class="mb-3">
   <textarea name="description" class="form-data" cols="62" rows="4" placeholder="Room Description"></textarea>
   </div>
   <style>
       :root {
         --bs-teal: #008080; 
       }
     
       .btn-teal {
         color: #ffffff; 
         background-color: var(--bs-teal); 
         border: 1px solid var(--bs-teal); 
       }
     
       .btn-teal:hover {
         background-color: #006666; 
         border-color: #0000; 
       }
   </style>
   <button type="submit" class="btn btn-teal w-100">Create Room</button>
</form>
</div>
</div>
</div>

{% endblock %}
