{% extends 'base.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/forgot_password" method="post" class="p-4 rounded shadow bg-light mt-3">
                <div>
                    <h1>Forgot Password</h1>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                </div>

                <input type="submit" class="btn btn-primary w-100" value="Send Reset Link">
            </form>
        </div>
    </div>
</div>

{% endblock %}
