{% extends 'base.html' %}

{% block title %}SignUp{% endblock %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
<form action="{{ url_for('auth.login') }}" method="post" class="p-4 rounded shadow bg-light mt-5">
    <div>
        <h1>Login</h1>
    </div>
    
    <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
    </div>

    <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
    </div>

    <div class="mb-3">
        <a href="{{ url_for('auth.forgot_password') }}">Forgot your password?</a>
    </div>

    <input type="submit" class="btn btn-primary w-100" value="Login" >

    <!-- "Don't have an account?" Link -->
    <p class="signup-link">
    Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up </a>.
    </p>
</form>
        </div>
    </div>
</div>
{% endblock %}