{% extends 'base.html' %}

{% block title %}
<title>Sign-Up</title>
{% endblock %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
<form action="/login" method="post" class="p-4 rounded shadow bg-light mt-5">
    <div>
        <h1>Login</h1>
    </div>
    
    <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <div class="mb-3">
        <a href="/forgot">Forgot your password?</a>
    </div>

    <input type="submit" class="btn btn-primary" value="Login">
</form>
        </div>
    </div>
</div>
{% endblock %}