{% extends 'base.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="{{ url_for('auth.reset_password', token=token) }}" method="post" class="p-4 rounded shadow bg-light mt-3">
                <div>
                    <h1>Reset Password</h1>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">New Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your Password" required>
                </div>

                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                </div>

                <input type="submit" class="btn btn-primary w-100" value="Reset Password">
            </form>
        </div>
    </div>
</div>

{% endblock %}
