{% extends "base.html" %}
{% block title %}Upload Resource{% endblock %}

{% block content %}
<div class="container">
    <h2>Upload Resource to {{ room.name }}</h2>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('study_room.upload_resource', room_id=room.id) }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }} <br>
            {{ form.title(size=32) }}
        </div>
        <div>
            {{ form.description.label }} <br>
            {{ form.description(rows=4, cols=40) }}
        </div>
        <div>
            {{ form.file.label }} <br>
            {{ form.file() }}
        </div>
        <div>
            <button type="submit">Upload Resource</button>
        </div>
    </form>
    
</div>
{% endblock %}
