{% extends 'base.html' %}

{% block title %}
<title>Sign-Up</title>
{% endblock %}

{% block content%}



<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
<form action="/signup" method="post" class="p-4 rounded shadow bg-light mt-2">
    <div>
        <h1>Sign Up</h1>
    </div>
    <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
    </div>

    <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <input type="submit" class="btn btn-primary" value="Sign Up">
</form>

</div>
</div>
</div>

{% endblock %}